<h1>Ethereum Finance Hub</h1>
<p>Transactions View</p>

<table>
    <tr>
        <td style="padding: 5px">
            <label for="wallets">Wallet: </label>
            <select name="wallets" id="wallets">
                <option value="all">All</option>
                {{#each wallets}}
                <option value={{this}} >{{this}}</option>
                {{/each}}
            </select>
        </td>
        <td style="padding: 5px">
            <label for="token">Token: </label>
            <select name="token" id="token">
                <option value="all">All</option>
                {{#each tokens}}
                <option value={{this}} >{{this}}</option>
                {{/each}}
            </select>
        </td>
        <td style="padding: 5px">
            <label for="date">Date: </label>
            <select name="date" id="date">
                <option value="all">All</option>
                {{#each dates}}
                <option value={{this}} >{{this}}</option>
                {{/each}}
            </select>
        </td>
        <td style="padding: 5px">
            <label for="tsxHash">Transaction Hash: </label>
        </td>
        <td>
            <search>
                <form>
                    <input name="tsxHashSearch" id="tsxHashSearch" placeholder="Search Transactions...">
                </form>
            </search>
            </select>
        </td>
    </tr>
</table>

<br>
<br>

<table style="width:80%; border:1px solid black; text-align:left;">
    <tr style="border:1px solid black; text-align:left"> 
        <th style="border:1px solid black; text-align:left">wallet</th>
        <th style="border:1px solid black; text-align:left">Transaction Hash</th>
        <th style="border:1px solid black; text-align:left">Date</th>
        <th style="border:1px solid black; text-align:left">Token</th>
        <th style="border:1px solid black; text-align:left">Amount</th>
        <th style="border:1px solid black; text-align:left">Value</th>
        <th style="border:1px solid black; text-align:left">from</th>
        <th style="border:1px solid black; text-align:left">to</th>
    </tr>
    {{#each transactions}}
                
    <tr style="border:1px solid black; text-align:left">
        
        <td style="border:1px solid black; text-align:left">{{this.walletHash}}</td>
        <td style="border:1px solid black; text-align:left">{{this.tsxHash}}</td>
        <td style="border:1px solid black; text-align:left">{{this.date}}</td>
        <td style="border:1px solid black; text-align:left">{{this.tokenName}}</td>
        <td style="border:1px solid black; text-align:left">{{this.amount}}</td>
        <td style="border:1px solid black; text-align:left">${{this.value}}</td>
        <td style="border:1px solid black; text-align:left">{{this.from}}</td>
        <td style="border:1px solid black; text-align:left">{{this.to}}</td>
    </tr>
    {{/each}}
</table>

<br>
<br>

<form>
    <button type="submit" formaction="/transactions" formmethod="post">Refresh</button>
    <br>
    <br>
    <button type="submit" formaction="/wallets" formmethod="post">See Wallets</button>
    <br>
    <br>
    <button type="submit" formaction="/summary" formmethod="post">See Summary</button>
</form>